@charset "UTF-8";

.border-beige {
    --bs-border-opacity: 1;
    border-color: #F1E3D7 !important;
}

.bg-beige {
    background-color: #F1E3D7 !important;
}

.font-montserrat {
    font-family: 'Montserrat';
}

.font-logo {
    font-size: 220%;
    font-weight: bold;
    color: #29524A;
}

.bg-footer {
    background-color: #FDEEE2;
}

.bg-cards {
    background-color: #FFF8F2 !important;
}

.footerposition {
    position: absolute;
    left: 0;
    bottom: 0;
    min-width: 100%;
    padding-left: 0%;
    margin-left: 0%;
}

.body {
    position: relative;
}

.chatbuttonposition {
    position: absolute;
    right: 3rem;
    bottom: 3rem;
}

.pb-170px {
    padding-bottom: 170px;
}

.shadow-bottom {
    box-shadow: 0 4px 4px -2px gray;
}

.carousel-control-next-icon {
    position: relative;
    right: -25%;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%
}

.carousel-control-prev-icon {
    position: relative;
    right: 25%;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e")
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

.text-left {
    text-align: left !important;
}

.accordion-button::after {
    transform: none !important;
    transition: none !important;
}

/* START of chat styles */
.chat-button::after {
    transform: none !important;
    transition: none !important;
}

.chatbutton {
    position: fixed;
    bottom: 40px;
    right: 40px;
    transform: none !important;
    transition: none !important;
}

.chatPopup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width textarea */
.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

/* END of chat styles */