@charset "UTF-8";

.border-beige {
    --bs-border-opacity: 1;
    border-color: #F1E3D7 !important;
}

.bg-beige {
    background-color: #F1E3D7 !important;
}

.font-montserrat {
    font-family: 'Montserrat';
}

.font-logo {
    font-size: 220%;
    font-weight: bolder;
    color: #29524A;
}

.font-pageheader {
    font-size: 170%;
    font-weight: bolder;
    color: #3f3e3e;
}

.font-cardheader {
    font-size: 140%;
    font-weight: bolder;
    color: #575555;
    text-decoration: underline;
}

.font-bold {
    font-weight: bold;
}

.tab {
    tab-size: 2;
}

.font-kerning {
    letter-spacing: 0.1rem;
}

.profilepic {
    max-width: 40%;
    max-height: 40%;
    border-style: solid
}

.bg-footer {
    background-color: #FDEEE2;
}

.bg-cards {
    background-color: #FFF8F2 !important;
}

.footerposition {
    position: absolute;
    left: 0;
    bottom: 0;
    min-width: 100%;
    padding-left: 0%;
    margin-left: 0%;
}

.body {
    position: relative;
}

.chatbuttonposition {
    position: absolute;
    right: 3rem;
    bottom: 3rem;
}

.pb-170px {
    padding-bottom: 170px;
}

.shadow-bottom {
    box-shadow: 0 4px 4px -2px gray;
}

.carousel-control-next-icon {
    position: relative;
    right: -25%;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%
}

.carousel-control-prev-icon {
    position: relative;
    right: 25%;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e")
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

.text-left {
    text-align: left !important;
}

.accordion-button::after {
    transform: none !important;
    transition: none !important;
}

/* START of chat styles */
.chat-button::after {
    transform: none !important;
    transition: none !important;
}

.chatbutton {
    position: fixed;
    bottom: 40px;
    right: 40px;
    transform: none !important;
    transition: none !important;
}

/* The popup chat - hidden by default */
.chatPopup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    width: 1200px;
}

/* Add styles to the form container */
.form-container {
    padding: 10px;
    background-color: whitesmoke;
}

/* Set a style for the submit/send button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.deleteBtnPosition {
    position: absolute;
    right: 5px;
}

.btnClearStyle {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.positionRelative {
    position: relative;
}

.editHPGeneralPosition {
    position: absolute;
    bottom: 10px;
}

/* END of chat styles */
.container-test {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.container-test::after {
    content: "";
    clear: both;
    display: table;
}

.container-test img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container-test img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

/* END of chat styles */

/* questionnaire button styles */

.qnrSubmitBtn {
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    color: black;
    border: 2px solid #04AA6D;
    float: right;
    border-radius: 5px;
}

.qnrSubmitBtn:hover {
    background-color: #04AA6D;
    color: white;
}

/* end of qnr button styles */

/* back button styles */
.backBtn {
    border: 2px solid #FFF8F2;
}

.backBtn:hover {
    border: 2px solid #f1f1f1;
}
/* end of back button styles */
